:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #7b9ded;
    cursor: pointer;
    text-decoration: inherit;
}
/* a:hover {
    color: rgba(108, 156, 239, 0.837);
} */

a:active {
    color: rgba(108, 156, 239, 0.837);
}

button {
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(108, 156, 239, 0.17);
    border-radius: 0.6rem;
    background-color: rgba(108, 156, 239, 0.043);
    cursor: pointer;
    color: #7b9ded;
}

button:active {
    color: rgba(108, 156, 239, 0.837);
    background-color: rgba(108, 156, 239, 0.011);
}

body {
    margin: 0;
    display: flex;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
